version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: angular-frontend-02
    ports:
      - "4200:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
